@model IEnumerable<ObjFile>
@{
    ViewData["Title"] = "Home | File Hosting";
}

@if (TempData["Message"] != null)
        {

            <div class="alert alert-success fade show" role="alert">
                @TempData["Message"]
            </div>
        }
<div style="border: 1px solid #DED8D8; width: 1000px; height: 1000px; font-family: Arial ">

    @using (@Html.BeginForm(null, null, FormMethod.Post,
     new { enctype = "multipart/form-data" }))
    {
        
        <table>
            <tr>
                <td style="padding-bottom: 5px" colspan="3">
                    <h2 style="color: #47bfed">FILE UPLOAD AND DOWNLOAD  </h2>
                </td>
            </tr>
            <tr>
                <td style="width: 50px;">
                    <b style="color: #FF5722">File:</b>
                </td>
                <td>
                    <input type="file" name="files" id="files" multiple="multiple" />
                </td>
                <td>
                    <input type="submit" class="btn" name="submit" />
                </td>
            </tr>

        </table>

    }
    <table class="gridborder row-borderhover order-column dataTable no-footer">
        <tr>
            <th class="sorting_asc">
                @Html.DisplayNameFor(model => model.File)
            </th>

            <th class="sorting"></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td class="sorting_1">
                    @Html.DisplayFor(modelItem => item.File)
                </td>

                <th class="sorting">
                    @Html.ActionLink("Download", "Download", new { fileName = item.File })
                </th>
            </tr>

        }
    </table>
</div>